In [ ]:
import pandas as pd

In [ ]:
df_car_reg_by_make_mth = pd.read_csv('Monthly-Car_Regn_by_make.csv')
df_car_reg_by_make_mth

In [ ]:
df_car_reg_by_make_year = pd.read_csv('Yearly_New_Cars_by_make.csv')
df = df_car_reg_by_make_year

In [ ]:
df.pivot(index='year', columns='make', values='number').fillna(0)

In [ ]:
df_car_reg_by_make_type_year = pd.read_csv('Yearly_New_Cars_by_make_type.csv')
df_car_reg_by_make_type_year.groupby(['year','fuel']).mean()

In [14]:
df_coe_month = pd.read_csv('M11-coe_results.csv')
df_coe_month

,month,bidding_no,vehicle_class,quota,bids_success,bids_received,premium
0,2010-01,1,Category A,1152,1145,1342,18502
1,2010-01,1,Category B,687,679,883,19190
2,2010-01,1,Category C,173,173,265,19001
3,2010-01,1,Category D,373,365,509,889
4,2010-01,1,Category E,586,567,1011,19889
...,...,...,...,...,...,...,...
1435,2022-03,2,Category A,543,542,849,71556
1436,2022-03,2,Category B,555,545,824,98889
1437,2022-03,2,Category C,91,91,166,51504
1438,2022-03,2,Category D,409,409,575,10501
1439,2022-03,2,Category E,180,177,344,99010

In [ ]:
#df.groupby('make').sum().loc['Audi','number']

df[df['make']=='Audi'].drop(['make'], axis=1).set_index('year')

In [ ]:
car_list = df.groupby('make').sum().sort_values(by=['number'], ascending=False)
car_list.reset_index().drop(['year', 'number'], axis=1)

In [ ]:
car_list